{% extends "base.html" %}

{% block content %}
    <h1>Add pizza</h1>
    <form method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        
        <label for="ingridients">Ingridients:</label>
        <input type="text" id="ingridients" name="ingridients" required><br>
        
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required><br>
        
        <button type="submit">Add</button>
    </form>

    <h2>List of added pizzas:</h2>
    <ul>
        {% for pizza in pizzas %}
        <li>{{ pizza.name }}: {{ pizza.ingridients }} - {{ pizza.price }} </li>
        {% endfor %}
    </ul>
    {% endblock content %}